# Front
MAPBOX_PUBLIC_TOKEN
API_URL=http://localhost:4000

# Back
FRONT_URL=http://localhost:3000
JWT_SECRET

# Ports
PORT_GATEWAY=4000
PORT_USERS=4001
PORT_MEMORY=4002
PORT_FRIENDS=4003

# Users
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB
POSTGRES_HOST
POSTGRES_PORT

# Nx
ACCESS_TOKEN
